.profileScreen {
  background-color: #111;
  height: 100vh;
  overflow: hidden; 
}

.profileScreen_body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 20px;
  flex-direction: column;
}

.profileScreen_title {
  color: #e50914;
  font-size: 2rem;
  margin-bottom: 20px;
}

.profileScreen_info {
  display: flex;
  align-items: center;
}

.profileScreen_avatar {
  width: 150px;
  object-fit: contain;
  margin-right: 20px;
}

.profileScreen_details {
  display: flex;
  flex-direction: column;
  color: white;
}

.profileScreen_email {
  margin-bottom: 20px;
  background-color: gray;
}

.profileScreen_plans {
  display: flex;
  flex-direction: column;
}

.profileScreen_signout {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.profileScreen_signout:hover {
  background-color: #f40612;
}
.profileScreen_plans{
  margin-top: 20px;
}
.profileScreen_plans >h3{
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

